.w-100{
    width: 100%;
}
 .h-64{
    height: 256px;
 } 
 .overflow-hidden {
    overflow: hidden;
 } 
 .min-w-72 {
    min-width: 288px;
 }

 .top-2 {
    top: 8px;
 }
 .right-2 {
    right: 8px;
 }
 .hidden {
    display: none;
 }
 .games .bg-img {
   background: url(	https://www.xgamertechnologies.com/images/slideshow/2.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .hero .bg-video {
   background: url(https://youtu.be/g3T9K06p358?si=t80eFD0Z3H0tBb-s);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }