<div class="col-md-4 product-card">
    <div class="card">
      <img src="https://i.pinimg.com/564x/cc/b6/f0/ccb6f0689bcaa9b205f6593cc6a4182c.jpg" alt="Elden Ring" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fst-italic fw-bold">Ps5</h5>
        <p class="card-text"><strong>Category:</strong>Gamming Pad</p>
        <p class="card-text"><strong>In Stock</strong></p>
        <p class="card-text"><strong></strong><i class="bi bi-truck"></i> Local Delivery Available</p>
        <p class="card-text"><strong>Price</strong> $69.99</p>
        <button class="btn add-to-cart"><i class="bi bi-cart"></i> Add to Cart</button>
      </div>
    </div>
  </div>